<div class="documentsview">

	<div class="documentslist">
		<form class="createwrapper input-group" name="create">
	    	<input type="text" name="createTitle" class="form-control create-text" placeholder="Title of your new document goes here..." aria-describedby="basic-addon2" ng-model="createTitle" required>
	    	<span class="input-group-btn">
		        <button class="btn btn-success" type="submit" ng-click="createDoc()" ng-disabled="creating || create.createTitle.$error.required">{{ creating ? 'Creating' : 'Create' }}</button>
		    </span>
		</form>
		<table>
			<thead>
				<th class="icon"></th>
				<th class="icon"></th>
				<th>Title</th>
				<th>Last modified</th>
				<th>Shared with</th>
			</thead>
			<tbody>
				<tr ng-repeat="doc in documents">
					<td>
						<i ng-hide="selfId === undefined || selfId !== doc.creatorId" class="optionsicon fa fa-cog fa-2x" ng-click="openOptions(doc)"></i>
					</td>
					<td ng-click="gotoDoc(doc)">
						<i class="fa fa-file-text-o fa-2x"></i>
					</td>
					<td>
						<span ng-click="gotoDoc(doc)" ng-hide="doc.options">{{ doc.name }}</span>
					</td>
					<td ng-click="gotoDoc(doc)"><span am-time-ago="doc.updated_at"></span></td>
					<td ng-hide="selfId === undefined">
						<span ng-if="doc.creatorId !== selfId">{{ doc.creatorName }}{{ doc.permittedUsers.length > 1 ? ', ' : '' }}</span>
						<span ng-repeat="person in doc.permittedUsers | withoutselfifcreator:doc.creatorId:selfId:doc.creatorName ">{{ $last ? person.facebook.name : (person.facebook.name + ', ') }}</span>
					</td>
				</tr>
			</tbody>
		</table>

		<div ng-show="loading" class="loader">
			<span tex-loader="'Fetching documents'"></span>
		</div>
	</div>
</div>