<div class="documentsview">
	<div ng-show="loading" class="loader">
		<span tex-loader="'Fetching documents'"></span>
	</div>

	<div class="documentslist">
		<table>
			<thead>
				<th class="icon"></th>
				<th>Name</th>
				<th>Last modified</th>
				<th>Shared</th>
			</thead>
			<tbody>
				<tr ng-repeat="doc in documents" ng-click="gotoDoc(doc)">
					<td><i class="fa fa-file-text-o"></i></td>
					<td>{{ doc.name }}</td>
					<td>{{ doc.modified }}</td>
					<td>{{ doc.shared }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>