<div class="modal-header">
    <h3 class="modal-title">{{ doc.name || 'Document' }} attributes</h3>
</div>
<div class="modal-body">
    <h4>Title</h4>
	<div ng-form name="document">
		<input type="text" name="doctitle" class="form-control create-text" ng-model="doc.name" ng-change="update()" required>
		<span class="text-danger" ng-show="document.doctitle.$error.required">Documents must have a title</span>
    </div>

    <h4><i class="fa fa-share-alt"></i> Sharing</h4>
    <div>
    	<div class="add-share">
	    	<div tex-share-doc="connections" ng-model="doc.shared" on-change="update"/>
    	</div>
    	<div class="text-info italic not-shared" ng-show="doc.shared.length === 0 || !doc.shared">You are not sharing this document with anyone, yet</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-hide="confirmDelete" ng-click="confirmDelete=true">Delete</button>
    <button class="btn" ng-show="confirmDelete" ng-click="confirmDelete=false">No, wait!</button>
    <button class="btn btn-danger" style="float:left" ng-show="confirmDelete" ng-click="removeDoc(doc)">Sure, delete permanently</button>
    <button class="btn btn-primary" ng-click="close()" ng-disabled="document.$invalid">Close</button>
</div>