.documentsview {
	margin: 0 auto;
	width: 70%;

	.loader {
		text-align: center;
  		margin-top: 2em;
	}

	.documentslist {
		margin: 2em;

		.fa-file-text-o {
			/*font-size: 2em;
	  		line-height: 2em;*/
	  		margin-right: 0.4em;
		}

		a {
			color: rgb(62, 63, 58);
		}
	}

	table {
		width: 100%;

		.icon {
			width: 1em;
		}

		tr {
			cursor: pointer;

			td {
				padding: 1em 0.2em;
			}
		}

		th {
			white-space: nowrap;
		}
	}

	.createwrapper {
		margin-bottom: 2em;
	}

	.btn-deletedoc {
		padding: 3px 13px;
		width: 6em;
	}

	.options{
		position: relative;
		width: 15.5em;
  		margin-left: -12em;
	}

	.optionsicon {
		margin-right: 1em;
  		color: rgb(221, 221, 221);
	}

	.rename-group {
		.btn {
			line-height: 4px;
		}

		input {
			height: 28px;
		}
	}

	.share-select {
		width: 13em;
	}
}

// IN MODALS
.not-shared {
	margin: 16px 16px 0 16px;
}