html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', 'Computer Modern', sans-serif;
	height: 100%;
	padding-top: 42px;
}

.topbar {
	margin-top: -42px;
	z-index: 10000;
	position: relative;
}

.viewport {
	height: 100%;
}

.profile-picture {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin-top: -4px;
}

.italic {
	font-style: italic;
}

.modal {
	z-index: 10000 !important;
}

.modal-backdrop {
	z-index: 10000 !important;
	width: 100%;
	height: 100%;
	background-color: white;
}

.share-select, .select2-input {
	width: 100%;
}

.select2-choices {
	border: 1px solid #dfd7ca !important;
	border-radius: 4px;
	padding: 0.56em !important;
}

.ui-select-multiple.ui-select-bootstrap {
	padding: 11px 15px 7px 15px;
}

/////// BUTTONS

.btn-default {
	text-shadow: none;
}


/////// BUTTONS END

/////// SELECT2

.ui-select-match-close {
	opacity: 1;
	color: white;
}

.select2-container-multi .select2-choices {
	background-image: none;
}

.select2-container-multi .select2-choices .select2-search-choice {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: white;
  background-image: none;
  background-image: none;
}

/////// SELECT2 END

/////// NAVBAR

.navbar-collapse {
	width: auto;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-text {
	margin-top: 10px;
	margin-bottom: 0;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: none;
}

.navbar-default {
	background-image: none;
	padding-bottom: 7px !important;
}

.navbar-username {
	padding: 1em;
}

.navbar-brand {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 10px;
	height: 40px;
}

.navbar {
	min-height: auto;
	margin-bottom: 0;
	border-radius: 0px;
	border: 0;
	padding: 0 !important;
}

.navbar-nav {
	margin: 0;
}

/////// NAVBAR END

/////// NOTIFICATIONS

.notificationwrapper {
	position: absolute;
	width: 100%;
	z-index: 10100;
	top: 0;
}

.alert {
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;

	.close {
		opacity: 1;
	}
}

.alert-danger {
	background-color: #d9534f;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: repeat;
}

/////// NOTIFICATIONS END