<!DOCTYPE html>

<html ng-app="texapp">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>TeX POC</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-layout/ui-layout.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Dependencies -->
	<script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-sanitize.min.js"></script>
	<script src="bower_components/angular-ui-ace/ui-ace.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
	<script src="components/showdown.mathjax.js"></script>
	<script src="bower_components/angular-markdown-directive/markdown.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
	<script src="components/MathJax.js?config=TeX-AMS_HTML-full&delayStartupUntil=configured"></script>
	<script src="bower_components/raf/index.js"></script>
	<script src="bower_components/angular-ui-layout/ui-layout.js"></script>
	<script src="components/jaxconfig.js"></script>

	<!-- Angular stuff -->
    <script src="controllers/main.js"></script>
    <script src="services/mathjax.js"></script>
    <script src="directives/texList.js"></script>
    <script src="directives/texLoader.js"></script>
    <script src="directives/texStateAsHtml.js"></script>
    <script src="directives/texMarkdown.js"></script>

</head>

<body ng-controller="mainController" ng-class="color">

	<div ui-layout>
      <div ui-layout="{flow : 'column'}" on-resize="onPageResize()" >
        <div class="toolbox">
        	<div ui-ace="aceOptions" ng-model="document"></div>
			<!--<<textarea class="texinput" ng-class="color" btf-markdown="markdown" ng-model="state" tex-list="&#10;" ng-trim="false"></textarea>-->
		</div>
		<div id="page" class="page" tex-markdown="document"></div>

      </div>
    </div>
</body>

</html>
