<!DOCTYPE html>

<html ng-app="texapp">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>TeX POC</title>

    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-layout/ui-layout.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-sanitize.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
	<script src="components/showdown.mathjax.js"></script>
	<script src="bower_components/angular-markdown-directive/markdown.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
	<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full&delayStartupUntil=configured"></script>
	<script src="bower_components/raf/index.js"></script>
	<script src="bower_components/angular-ui-layout/ui-layout.js"></script>

	<script type="text/javascript">
		var texapp = angular.module('texapp', ['btford.markdown', 'ui.bootstrap', 'ui.layout']);
	</script>

    <script src="controllers/main.js"></script>
    <script src="services/mathjax.js"></script>
    <script src="directives/texlist.js"></script>
    <script src="directives/loader.js"></script>
    <script src="directives/stateAsHtml.js"></script>

	<script type="text/javascript">
		MathJax.Hub.Config({
		    skipStartupTypeset: true,
		    messageStyle: "none",
		    "HTML-CSS": {
		        showMathMenu: false
		    },
		    tex2jax: {
			    inlineMath: [['$','$'], ['\\(','\\)']],
			    processEscapes: true
			}
		});
		MathJax.Hub.Configured();
	</script>
</head>

<body ng-controller="mainController" ng-class="color">

	<div ui-layout>
      <div ui-layout="{flow : 'column'}" on-resize="onPageResize()" >
        <div class="toolbox">
        	<!-- hide this for now -->
			<div class="btn-group" role="group" style="display:none">
				<div class="btn-group" role="group">
					<button type="button" ng-click="toggleColors()" class="btn btn-default btn-toolbox" title="Invert colors" aria-label="Left Align">
					  <span aria-hidden="true">
					  		<script type="math/tex">color^{-1}</script>
					  </span>
					</button>
					<button type="button" ng-click="savePdf()" class="btn btn-default btn-toolbox" title="Save as PDF" aria-label="Left Align">
					  <span aria-hidden="true">PDF</span>
					</button>
					<button type="button" title="Fractions" id="ddmFractions"
						class="btn btn-default btn-toolbox dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<span aria-hidden="true">
					  		<script type="math/tex">\frac{x}{y}</script>
					  	</span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="ddmFractions">
					    <li>
					    	<div class="btn-group">
					    		<button type="button" ng-click="insertMath('\\frac{}{}')" class="btn btn-default btn-toolbox" title="Fraction" aria-label="Left Align">
									<span aria-hidden="true">
								  		<script type="math/tex">\frac{x}{y}</script>
									</span>
								</button>
								<button type="button" ng-click="insertMath('{}/{}')" class="btn btn-default btn-toolbox" title="Linear fraction" aria-label="Left Align">
									<span aria-hidden="true">
								  		<script type="math/tex">{x}/{y}</script>
									</span>
								</button>
					    	</div>
					    </li>
					</ul>
				</div>
				<button type="button" class="btn btn-default btn-toolbox" title="Radical signs" aria-label="Left Align">
				  <span aria-hidden="true">
				  		<script type="math/tex">\sqrt{}</script>
				  </span>
				</button>
				<button type="button" class="btn btn-default btn-toolbox" title="Suffix" aria-label="Left Align">
				  <span aria-hidden="true">
				  		<script type="math/tex">e^x</script>
				  </span>
				</button>
			</div><br/>
			<textarea class="texinput" ng-class="color" btf-markdown="markdown" ng-model="state" texlist="&#10;" ng-trim="false"></textarea>
		</div>
		<div id="page" class="page" state-as-html="state"></div>
      </div>
    </div>
</body>

</html>
