<ui-select multiple ng-model="$parent.ngModel" theme="bootstrap" ng-disabled="disabled" class="share-select">
	<ui-select-match ui-lock-choice="$item.locked" placeholder="{{placeholder}}">{{ $item.facebook.name }}</ui-select-match>
	<ui-select-choices repeat="person in texShareDoc | filter:$select.search">
		<div>
			<div style="display: inline">
				<img class="profile-picture" src="{{ 'http://graph.facebook.com/'+person.facebook.id+'/picture' }}" />
			</div>
			<div style="display: inline">{{ person.facebook.name }}</div>
		</div>
	</ui-select-choices>
</ui-select>